/* =============
    Hero Tabs
============= */

.red{
    background-color: $red;
    color: $white;
}

.hero-section{
    display: grid;

    @include md{
        grid-template-columns: 33.33% auto;
    }
}

.meet{
    background-color: $darkred;
    color: $white;
    padding: 15px 0px 15px 0px;

    img{
        width: 100%;
    }

    h1{
        font-weight: 700;
        
        @include sm{
            font-size: 18px;
        }

        @include md{
            font-size: 18px;
        }

        @include lg{
            font-size: 25px;
        }

        @include xxl{
            font-size: 25px;
        }
    }

    h2{
        font-weight: 400;

        @include sm{
            font-size: 14px;
        }

        @include md{
            font-size: 14px;
        }

        @include lg{
            font-size: 16px;
        }

        @include xxl{
            font-size: 16px;
        }
    }
}

.next{
    background-color: $red;
    color: $white;
    padding: 15px 0px 15px 0px;

    h1{
        font-weight: 700;

        @include sm{
            font-size: 18px;
        }

        @include md{
            font-size: 18px;
        }

        @include lg{
            font-size: 25px;
        }

        @include xxl{
            font-size: 25px;
        }
    }

    h2{
        font-weight: 400;

        @include sm{
            font-size: 14px;
        }

        @include md{
            font-size: 14px;
        }

        @include lg{
            font-size: 16px;
        }

        @include xxl{
            font-size: 16px;
        }
    }
}