/* =============
    Question Tabs
============= */

.navy{
    background-color: $navy;
    color: $white;
}


.questiontabs{
    display: grid;
    gap: 15px;

        @include md{
            grid-template-columns: 50% auto;
            margin: 30px 15px 30px 15px;
        }

        .questiontabs-content{
            background-color: $navy;
            color: $white;
            font-weight: 400;
            padding: 15px 0px 15px 0px;
            
            h2{
                @include sm{
                    font-size: 22px;
                }

                @include md{
                    grid-template-columns: 50% 50%;
                    font-size: 29px;
                }

                @include lg{
                    font-size: 31px;
                }
            }
        }

}

