/* =============
    Question Tabs
============= */

.navy{
    background-color: $navy;
    color: $white;
}


.questiontabs{
    display: grid;

    .questiontabs-content{
        gap: 20px;
        background-color: $navy;
        color: $white;
        font-weight: 400;

        @include sm{
            font-size: 22px;
        }

        @include md{
            grid-template-columns: 50% 50%;
            font-size: 29px;
        }

        @include lg{
            font-size: 31px;
        }
    }

}

